version: '3.9'

services:
  seating-app:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - ./output:/app/output
      - ./photos:/app/photos
      - ./input_data_tt.xlsx:/app/input_data_tt.xlsx
